@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

%mul-reg {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
}
%mul-bold {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
}
%mul-ebold {
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
}
%marc {
    font-family: 'Marcellus', serif;
    font-weight: 400;
}